.separar-botoes {
    margin-right: 2.5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.container-pessoal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-pessoal{
    
}