{% extends "template.html" %}
{% block conteudo %}

        <!--Pagina para inclusão de jogo manualmente.
        abaixo da linha de inputs e botões, a intenção é lista os nomes
        dos jogos que estão sendo incluídos. Ao lado de cada um, precisa ter 
        um botão para remover o jogo que foi incluído caso seja necessário
        desfazer a inclusão.
    -->
        
    <main>
        <div class="container" >
            <form class="formularioJogo" method="POST" action="{{ url_for('incluir_jogos') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <figure class="img-thumbnail col-md-4 formularioImagem">
                    <img class="img-fluid" src="{{ url_for('imagem',nome_arquivo='capa_padrao.jpg') }}">
                    <figcaption>
                        <label class="fileContainer">
                            Adicionar arquivo JPG para capa
                            <input type="file" name="capa_jogo" accept=".jpg">
                        </label>
                    </figcaption>
                </figure>
                <div class="row g-3">
                    <div class="col-sm-4" >
                        {{ form.titulo(class="form-control", placeholder="Titulo do jogo") }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.genero(class="form-control", placeholder="Genero do jogo") }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.plataforma(class="form-control", placeholder="Plataforma que está") }}
                    </div>
                    <div class="col-sm-3">
                        {{ form.adicionar(class="btn btn-primary") }}
                        <a href="{{ url_for('index') }}" type="button" class="btn btn-primary">Voltar</a>
                    </div>
                </div>
            </form>

            <p>Jogos adicionados no momento</p>
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thead-default">
                    <tr>
                        <th>Titulo</th>
                        <th>Genero</th>
                        <th>Plataforma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jogo in adicionados %}
                    <tr>
                        <td>{{ jogo.titulo }}</td>
                        <td>{{ jogo.genero }}</td>
                        <td>{{ jogo.plataforma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        
    </main>

{% endblock conteudo %}