{% extends "template.html"%}
{% block conteudo %}

        <!--Conteúdo principal - Inclui seções de conteúdo divididas em "inicio" "sobre" "contato"-->

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-end mb-2">
                            
                            <a href="{{ url_for('adicionar_jogo_pagina') }}" role="button" class="btn btn-primary separar-botoes" data-bs-toggle="button" id="btnAdicionarJogo">Adicionar Jogo</a>
                            <button type="button" class="btn btn-primary separar-botoes" id="btnRemoverJogo">Remover Jogo</button>
                            
                        </div>
                        <table class="table table-striped table-responsive table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th>Titulo</th>
                                    <th>Genero</th>
                                    <th>Plataforma</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for jogo in lista_de_jogos %}
                                <tr>
                                    <td>{{ jogo.titulo }}</td>
                                    <td>{{ jogo.genero }}</td>
                                    <td>{{ jogo.plataforma }}</td>
                                    <td>
                                        <a class="btn btn-secondary me-2 btn-sm" id="btnEditarJogo" href="{{ url_for('editar_jogo_pagina', id=jogo.id) }}">Editar</a>
                                        <a class="btn btn-danger btn-sm " id="btnRemoverJogo" href="{{ url_for('remover_jogo', id=jogo.id) }}">Remover Jogo</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

{% endblock conteudo %}